#$ vendor/bin/phpstan analyze

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - inc/
        - plugin.php
    excludePaths:
        analyseAndScan:
            # Prevent phpstan from multiple definitions of the same things,
            # because we already use phpstan/wordpress-stubs
            - wordpress/
        analyse:
            - vendor/
            # "/wp-content/" is created during composer install,
            # when package is tested
            # and not running within ft-platform
            - wp-content/
            # - tests/
    ignoreErrors:
        # TODO https://github.com/figuren-theater/ft-performance/issues/48 Remove hard dependencies onto deprecated__Figuren_Theater__v2
        - '#Constant FT_CORESITES not found\.#'
        - '#Call to static method site\(\) on an unknown class Figuren_Theater\\FT\.#'

        # Find a nicer way instead of ignoring this Error on every ft-module
        - '#Function Altis\\register_module not found\.#'
        - '#Function Figuren_Theater\\get_config not found\.#'

        # inc/sqlite-object-cache/namespace.php
        #
        # A dev-only errors, which can occur if not setup in a working environment (like actually in GitHub CI).
        - '#^Path in require_once\(\) "\.//sqlite-object-cache/sqlite-object-cache\.php" is not a file or it does not exist\.$#'